@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

@mixin content-maxwidth {
    max-width: 1020px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 3px 3px 5px 3px silver;
}

.portfolios {
    @include content-maxwidth;
    .head {
        margin: 0 0 35px 0;
        font-size: 35px;
        font-weight: 900;     
        div {
            margin: 10px 0 0 0;
            font-size: 18px;
            font-weight: 300;
            color: #A4A4A4;
        }
    }
    .main {
        display: flex;
        justify-content: space-between;
        .img_container {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 500px;
            .imgs {         
                height: 70%;
                margin: 0 0 5% 0;
                background: #f4f4f4;
                border-radius: 10px;
                box-shadow: 3px 3px 5px 3px silver;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .first {
                background-image: url('./img/main1.PNG');
            }
            .second {
                margin: 0;
                background-image: url('./img/main2.PNG');
            }
        }
        .script {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 53%;
            text-align: left;
            font-size: .9em;
            .script-main {
                .fa-circle {
                    color: $pink;
                    padding-right: 1.3%;
                }
                .fa-check{
                    padding-right: 1.3%;
                    color: $pink;
                    font-size: 0.8em;
                }
            }
            .script-bottom {
                display: flex;
                width: 100%;
                .fa-github {
                    color: $pink;
                    padding-right: 1.5%;
                    font-size: 35px;
                    cursor: pointer;
                }
                .fa-github:hover {
                    transform: scale(1.1);
                }
                div {
                    width: 100%;
                    color: $pink;
                    font-size: 0.9em;
                    line-height: 3.4;
                    cursor: pointer;
                }
            }          
        }
    }
}

@media only screen and (max-width: 900px) {
    .portfolios {
        .head {
            margin: 0 0 30px 0;
            font-size: 32px;    
            div {
                margin: 10px 0 0 0;
                font-size: 16px;
            }
        }
        .main {
            flex-direction: column;
            .img_container {
                display: flex;
                width: 100%;
                .imgs {   
                    width: 400px;        
                    margin: 0 auto 5%;
                }
                .second {
                    margin: 0 auto 5%;
                }
            }
            .script {
                width: 100%;
                .script-bottom {
                    margin-top: 20px;
                }          
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .portfolios {
        .main {
            .img_container {
                .imgs {       
                    width: 80%;     
                    margin: 0 auto 4%;
                }
                .second {
                    margin: 0 auto 4%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .portfolios {
        .head {
            margin: 0 0 25px 0;
            font-size: 30px;    
            div {
                font-size: 14px;
            }
        }
        .main {
            flex-direction: column;
            .img_container {
                .imgs {   
                    width: 100%;    
                    margin: 0 auto 6%;  
                }
                .second {
                    margin: 0 auto 6%;
                }
            }
            .script {
                .script-bottom {
                    margin-top: 23px;
                    .fa-github {
                        margin: 0 auto;
                    }
                    div {
                        display: none;
                    }
                }          
            }
        }
    }
}