@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;


.project{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 8% 17% 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $black;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;

    .header {
        text-align: left;

        h4 {
            margin: 0 0 7% 0;
            color: $pink;
            font-size: 4em;
        }

        h4::after {
            display: block;
            content: "";
            width: 50%;
            margin-top: 3%;
            border-bottom: 1px solid #bcbcbc;
            color: $pink;
        }
    }

    .project_container {
        display: flex;
        justify-content: space-between;
        width: 100%;


        .projects {
            display: flex;
            flex-direction: column;

            .img {
                width: 400px;
                height: 250px;
                margin-bottom: 13%;
                background: #f4f4f4;
                border-radius: 10px;
                box-shadow: 3px 3px 5px 3px silver;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all .2s ease-in-out;
                cursor: pointer;
            }

            .img:hover {
                transform: scale(1.03);
            }

            .contents {
                text-align: center;
                font-size: 1.3em;
            }
        }

        .first {

            .img {
                background-image: url('./img//shop.PNG');
            }
        }

        .second {
            .img {
                background-image: url('./img/insta.PNG');
            }
        }

        .third {
            .img {
                background-image: url('./img/goodal.PNG');
            }
        }

    }
}

@media only screen and (max-width: 1850px) {
    .project{ 
        .project_container {
                .img {
                    width: 380px;
                }
              
            }
    
        }
    }

@media only screen and (max-width: 1700px) {
    .project {    
        .project_container {    
            .projects {                
                .img {
                    width: 360px;                    
                }             
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .project{
        padding: 8% 15% 0;
        .project_container {    
            .projects {                
                .img {
                    width: 360px;                    
                }             
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .project{
        padding: 8% 12% 0;
        .project_container {    
            .projects {                
                .img {
                    width: 360px;                    
                }             
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .project{
        padding: 8% 9% 0;
        .project_container {    
            .projects {                
                .img {
                    width: 360px;                    
                }             
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .project {
        padding: 8% 6% 0;
        .project_container {    
            .projects {                
                .img {
                    width: 360px;                    
                }             
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .project { 
        padding: 8% 6% 0;
        .header {
            h4 {
                margin: 0 0 10% 0;
                font-size: 3.5em;
            }
        }
        .project_container {    
            .projects {                
                .img {
                    width: 340px;                    
                }             
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .project {
        padding: 8% 6% 0;
        .header {
            h4 {
                margin: 0 0 10% 0;
                font-size: 3.5em;
            }
        }
        .project_container {   
            justify-content: center; 
            .projects {    
                margin: 0 1%;            
                .img {
                    width: 310px;  
                    height: 230px;                  
                }             
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
     .project {
        padding: 8% 6% 0;
        .header {
            h4 {
                margin: 0 0 10% 0;
                font-size: 3.5em;
            }
            h4::after {
                width: 50%;
            }
        }
        .project_container {   
            justify-content: center; 
            .projects {    
                margin: 0 1%;            
                .img {
                    width: 310px;  
                    height: 230px;                  
                }             
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .project{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: $black;
        background-color: #ffffff;
        font-family: 'Noto Sans KR', sans-serif;
    
        .header {
            margin-top: 0px;
            margin-left: 0px;
    
            h4 {
                margin: 30px 0 20px 0;
                color: $pink;
                font-size: 40px;
            }
    
            h4::after {
                display: block;
                content: "";
                width: 350px;
                margin-top: 30px;
                border-bottom: 1px solid #bcbcbc;
                color: $pink;
            }
        }
    
        .project_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            font-family: 'Noto Sans KR', sans-serif;
    
            .projects {
                display: flex;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: column;
                }
    
                .img {
                    width: 250px;
                    height: 150px;
                    margin: 0 ;
                    background: #f4f4f4;
                    border-radius: 10px;
                    box-shadow: 3px 3px 5px 3px silver;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                }
    
                .img:hover {
                    transform: scale(1.05);
                }
    
                .contents {
                    margin: 10px 0px 50px 0;
                    text-align: center;
                    font-size: 20px;
                }
            }
    
            .first { 
                .img {
                    margin: 0 auto;
                    background-image: url('./img//shop.PNG');
                }
            }
    
            .second {
                .img {
                    margin: 0 auto;
                    background-image: url('./img/insta.PNG');
                }
            }
    
            .third {
                .img {
                    margin: 0 auto;
                    background-image: url('./img/goodal.PNG');
                }
            }
    
        }
    }
}