@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;


.project{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $black;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;

    .header {
        margin-top: 130px;
        margin-left: 350px;

        h4 {
            margin: 0 0 80px 0;
            color: $pink;
            font-size: 60px;
        }

        h4::after {
            display: block;
            content: "";
            width: 500px;
            margin-top: 30px;
            border-bottom: 1px solid #bcbcbc;
            color: $pink;
        }
    }

    .project_container {
        display: flex;
        margin: 30px 350px 0;

        .projects {
            display: flex;
            flex-direction: column;
            justify-content: center;


            .img {
                width: 400px;
                height: 250px;
                margin: 0 40px 20px 0;
                background: #f4f4f4;
                border-radius: 10px;
                box-shadow: 3px 3px 5px 3px silver;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all .2s ease-in-out;
                cursor: pointer;
            }

            .img:hover {
                transform: scale(1.05);
            }

            .contents {
                margin: 0 40px 50px 0;
                text-align: center;
                font-size: 20px;
            }
        }

        .first {

            .img {
                background-image: url('./img//shop.PNG');
            }
        }

        .second {
            .img {
                background-image: url('./img/insta.PNG');
            }
        }

        .third {
            .img {
                background-image: url('./img/goodal.PNG');
            }
        }

    }
}

@media only screen and (max-width: 1600px) {
    .project {
        .header {
            margin-top: 130px;
            margin-left: 150px;
    
            h4 {
                margin: 0 0 80px 0;
                color: $pink;
                font-size: 60px;
            }
        }
    
        .project_container {
            display: flex;
            margin: 30px 150px 0;
    
            .projects {
                display: flex;
                flex-direction: column;
    
            } 
        }
    }
}

@media only screen and (max-width: 1024px) {
    .project{
        .header {
            margin-top: 130px;
            margin-left: 80px;

            h4 {
                margin: 0 0 50px 0;
                color: $pink;
                font-size: 60px;
            }
        }
    
        .project_container {
            display: flex;
            flex-direction: column;
            margin: 30px 80px 0;
    
            .projects {
                display: flex;
                justify-content: center;

                div {
                    display: flex;
                }
    
                .img {
                    width: 400px;
                    height: 220px;
                    margin: 0 40px 10px 0;
                    background: #f4f4f4;
                    border-radius: 10px;
                    box-shadow: 3px 3px 5px 3px silver;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                }

                .contents {
                    margin: 0 40px 50px 0;
                    text-align: center;
                    font-size: 20px;
                }
            }    
        }
    }
}

@media only screen and (max-width: 480px) {
    .project{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: $black;
        background-color: #ffffff;
        font-family: 'Noto Sans KR', sans-serif;
    
        .header {
            margin-top: 0px;
            margin-left: 0px;
    
            h4 {
                margin: 30px 0 20px 0;
                color: $pink;
                font-size: 40px;
            }
    
            h4::after {
                display: block;
                content: "";
                width: 350px;
                margin-top: 30px;
                border-bottom: 1px solid #bcbcbc;
                color: $pink;
            }
        }
    
        .project_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            font-family: 'Noto Sans KR', sans-serif;
    
            .projects {
                display: flex;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: column;
                }
    
                .img {
                    width: 250px;
                    height: 150px;
                    margin: 0 ;
                    background: #f4f4f4;
                    border-radius: 10px;
                    box-shadow: 3px 3px 5px 3px silver;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                }
    
                .img:hover {
                    transform: scale(1.05);
                }
    
                .contents {
                    margin: 10px 0px 50px 0;
                    text-align: center;
                    font-size: 20px;
                }
            }
    
            .first { 
                .img {
                    margin: 0 auto;
                    background-image: url('./img//shop.PNG');
                }
            }
    
            .second {
                .img {
                    margin: 0 auto;
                    background-image: url('./img/insta.PNG');
                }
            }
    
            .third {
                .img {
                    margin: 0 auto;
                    background-image: url('./img/goodal.PNG');
                }
            }
    
        }
    }
}