.modal_sass {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;

    .bg {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 400;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);

        .content {
            position: absolute;
            left: 76.4%;
            top: 52%;
            width: 400px;
            height: 130px;
            background-color:#fff;
            border-radius: 10px;
            text-align: center;
            font-size: 17px;
            z-index: 410;

            p {
                margin: 0;
            }

            .fa-caret-down {
                position: absolute;
                bottom: -30px;
                left: 190px;
                color: #fff;
                font-size: 60px;
            }

            .title {
                padding: 20px;
                font-size: 20px;
            }
        }

    }
}