.modal_html {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;



        .content {
            position: absolute;
            left: 60%;
            top: 52%;
            width: 300px;
            height: 150px;
            background-color:#fff;
            box-shadow: 10px 5px 5px rgb(189, 187, 187);
            border-radius: 10px;
            text-align: center;
            font-size: 17px;
            z-index: 410;

            p {
                margin: 0;
            }

            .title {
                padding: 20px;
                font-size: 20px;
            }
        }

        .fas {
            position: absolute;
            bottom:0;
            background-color: red;
        }
}
