@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

.home {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 8% 6.5% 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $black;
    background-image: url('./img/team.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -17px;
    font-family: 'Noto Sans KR', sans-serif;

    .contents {
        text-align: right;

        .main {
            span {
                font-size: 3em;
            }
    
            .pink {
                color: $pink;
                font-size: 3.3em;
                font-weight: 900;
            }
        }

        .story {
            padding-top: 5%;
            font-size: 1.6em;
    
            .pinks {
                color: $pink;
                font-size: 1.2em;
                font-weight: 500;
            }
        }

        .icons {
            padding-top: 10%;

            .stack {
                display: flex;
                flex-direction: row-reverse;
                flex-grow: 1;
                width: 100%;

                div {
                    margin-left: 1%;
                    width: 70px;
                    height: 70px;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;

                    div:last-child {
                        margin: 0;
                    }
                }

                .html {
                    background-image: url('./img/html.png');
                }

                .html:hover {
                    transform: scale(1.1);
                }

                .css {
                    background-image: url('./img/css3.png');
                }

                .css:hover {
                    transform: scale(1.1);
                }

                .javascript {
                    background-image: url('./img/javascript.png');
                }

                .javascript:hover {
                    transform: scale(1.1);
                }

                .react {
                    background-image: url('./img/react.png');
                }

                .react:hover {
                    transform: scale(1.1);
                }

                .redux {
                    background-image: url('./img/redux.png');
                }

                .redux:hover {
                    transform: scale(1.1);
                }

                .sass {
                    background-image: url('./img/sass.png');
                }

                .sass:hover {
                    transform: scale(1.1);
                }

                .styled {
                    background-image: url('./img/styled.png');
                }

                .styled:hover {
                    transform: scale(1.1);
                }
            }

            .link {
                display: flex;
                flex-direction: row-reverse;
                flex-grow: 1;
                width: 100%;
                margin-top: 2%;

                div {
                    margin-left: 1%;
                    width: 70px;
                    height: 70px;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                }

                .github {
                    background-image: url('./img/github.png');
                }

                .github:hover {
                    transform: scale(1.1);
                }

                .velog {
                    background-image: url('./img/velog.PNG');
                }

                .velog:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .home {  
        .contents {
            padding-right: 40px;
            padding-top: 200px;
            text-align: right;
    
            .main {
                span {
                    font-size: 40px;
                }
        
                .pink {
                    color: $pink;
                    font-size: 43px;
                    font-weight: 800;
                }
            }
    
            .story {
                padding-top: 40px;
                font-size: 20px;
        
                .pinks {
                    color: $pink;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width: 1270px) {
    
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 480px) {
    .home {
        background-image: none;
        height: 100vh;

        .contents {
            padding: 150px 15px 0;
            text-align: center;
    
            .main {
                span {
                    font-size: 22px;
                }
        
                .pink {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
    
            .story {
                padding-top: 30px;
                font-size: 15px;
        
                .pinks {
                    font-size: 17px;
                    font-weight: 500;
                }
            }

            .icons {
                padding-top: 60px;
    
                .stack {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    flex-grow: 1;
                    width: 100%;
    
                    div {
                        margin-right: 2px;
                        width: 45px;
                        height: 45px;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                    }

                    div:last-child {
                        margin-right: 0;
                    }
    
                    .html {
                        background-image: url('./img/html.png');
                    }
    
                    .html:hover {
                        transform: scale(1.1);
                    }
    
                    .css {
                        background-image: url('./img/css3.png');
                    }
    
                    .css:hover {
                        transform: scale(1.1);
                    }
    
                    .javascript {
                        background-image: url('./img/javascript.png');
                    }
    
                    .javascript:hover {
                        transform: scale(1.1);
                    }
    
                    .react {
                        background-image: url('./img/react.png');
                    }
    
                    .react:hover {
                        transform: scale(1.1);
                    }
    
                    .redux {
                        background-image: url('./img/redux.png');
                    }
    
                    .redux:hover {
                        transform: scale(1.1);
                    }
    
                    .sass {
                        background-image: url('./img/sass.png');
                    }
    
                    .sass:hover {
                        transform: scale(1.1);
                    }
    
                    .styled {
                        background-image: url('./img/styled.png');
                    }
    
                    .styled:hover {
                        transform: scale(1.1);
                    }
                }
    
                .link {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    flex-grow: 1;
                    width: 100%;
                    margin-top: 10px;
    
                    div {
                        margin-right: 0px;
                        width: 45px;
                        height: 45px;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                    }
    
                    .github {
                        background-image: url('./img/github.png');
                    }
    
                    .github:hover {
                        transform: scale(1.1);
                    }
    
                    .velog {
                        background-image: url('./img/velog.PNG');
                    }
    
                    .velog:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        
    }
}

