@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

.home {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 8% 6.5% 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $black;
    background-image: url('./img/team.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -17px;
    font-family: 'Noto Sans KR', sans-serif;

    .contents {
        text-align: right;

        .main {
            span {
                font-size: 3em;
            }
    
            .pink {
                color: $pink;
                font-size: 3.3em;
                font-weight: 900;
            }
        }

        .story {
            padding-top: 5%;
            font-size: 1.6em;
    
            .pinks {
                color: $pink;
                font-size: 1.2em;
                font-weight: 500;
            }
        }

        .link {
            display: flex;
            flex-direction: row-reverse;
            flex-grow: 1;
            width: 100%;
            margin-top: 30%;

            div {
                margin-left: 1%;
                width: 70px;
                height: 70px;
                background-size: cover;
                background-position: center;
                cursor: pointer;
            }

            .github {
                background-image: url('./img/github.png');
            }

            .github:hover {
                transform: scale(1.1);
            }

            .velog {
                background-image: url('./img/velog.PNG');
            }

            .velog:hover {
                transform: scale(1.1);
            }
        }
       
    }
}

@media only screen and (max-width: 1600px) {
    .home {
        padding: 10% 5% 0;

        .contents {               
            .main {
                span {
                    font-size: 2.8em;
                }      
                .pink {
                    font-size: 3em;
                    font-weight: 900;
                }
            }
    
            .story {
                font-size: 1.4em;
        
                .pinks {
                    font-size: 1.1em;
                }
            } 
        }
    }
}

@media only screen and (max-width: 1500px) {
    .home {
        padding: 10% 4% 0;
    
        .contents {               
            .main {
                span {
                    font-size: 2.6em;
                }       
                .pink {
                    font-size: 2.8em;
                    font-weight: 700;
                }
            }   
            .story {
                font-size: 1.2em;
        
                .pinks {
                    font-size: 1em;
                }
            } 
        }
    }
}

@media only screen and (max-width: 1400px) {
    .home {
        padding: 10% 4% 0;
        background-size: 57%;
        background-position-x: -22px;
        background-position-y: 112px;
    }
}

@media only screen and (max-width: 1080px) {
    .home {
        padding: 10% 4% 0;
        background-size: 50%;
        background-position-x: -22px;
        background-position-y: 150px;
    }
}

@media only screen and (max-width: 1024px) {
    .home {
        padding: 14% 6.5% 0;
        background-image: none;   
        .contents {
            text-align: center;
    
            .main {
                span {
                    font-size: 2.6em;
                }
                .pink {
                    font-size: 2.8em;
                    font-weight: 700;
                }
            }
    
            .story {
                font-size: 1.2em;
        
                .pinks {
                    font-size: 1em;
                }
            }
            .icons {
                padding-top: 20%;
    
                .stack {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                } 
                .link {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .home {
        background-image: none;
        width: 100vw;
        height: 100vh;
        padding: 0% 6.5% 0;

        .contents {
            text-align: center;
    
            .main {
                span {
                    font-size: 24px;
                }       
                .pink {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
    
            .story {
                padding-top: 30px;
                font-size: 15px;
        
                .pinks {
                    font-size: 17px;
                    font-weight: 500;
                }
            }

            .icons {
                padding-top: 60px;
    
                .link {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    flex-grow: 1;
                    width: 100%;
                    margin-top: 10px;
    
                    div {
                        margin-right: 0px;
                        width: 45px;
                        height: 45px;
                        background-size: cover;
                        background-position: center;
                        cursor: pointer;
                    }
    
                    .github {
                        background-image: url('./img/github.png');
                    }
    
                    .github:hover {
                        transform: scale(1.1);
                    }
    
                    .velog {
                        background-image: url('./img/velog.PNG');
                    }
    
                    .velog:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        
    }
}

