@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

@mixin default-option {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif;
    color: $black;
    text-align: center;
}

@mixin content-maxwidth {
    max-width: 1020px;
    margin: 0 auto;
}

.contact {
    @include default-option;
    @include content-maxwidth;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    .left {
        text-align: left;
        h4 {
            margin: 0 0 10% 0;
            color: $pink;
            font-size: 3.3em;
        }
        h4::after {
            display: block;
            content: "";
            width: 100%;
            margin-top: 30px;
            border-bottom: 1px solid #bcbcbc;
            color: $pink;
        }
        .info {
            display: flex;
            flex-direction: column;
           p {
                margin: 0;
                font-size: 1.05em;
            }
            .second {
                margin-top: 5%;
            }
            .third {
                margin-bottom: 15%;
            }
            div {
                display: flex;
                margin-bottom: 5%;
                .fas {
                    padding-bottom: 2%;
                    color: $pink;
                    font-size: 2em;
                }   
                .fas:hover {
                    transform: scale(1.1);
                }
                p {
                    margin: 0 0 0 5%;
                    font-size: 1.4em;
                }
               .fab {
                    margin-top: 10%;
                    padding-right: 5%;
                    color: $pink;
                    font-size: 3.5em;
                    cursor: pointer;
                }
                .fab:hover {
                    transform: scale(1.1);
                }
            }
        }       
    }

    .right {
        display: flex;
        flex-direction: column;
        height: 100vh;
        form {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 10%;
            width: 100%;
            height: 90%;
            background-color: $pink;
            border-radius: 10px;
            font-size: 1.2em;
            box-shadow: 3px 3px 5px 3px silver;
            font-family: 'Noto Sans KR', sans-serif;
            box-sizing: border-box;
            input {
                position: relative;
                width: 100%;
                height: 10%;
                margin-bottom: 6%;
                color: #fff;
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid #fff;
                font-size: 1.05em;
                font-weight: 300;
                box-sizing: initial;
            }
            input:focus {
                outline: none;
            }
            input:focus::placeholder {
                color: transparent;
            }
            input::placeholder {
                color: #fff;
            }
            textarea {
                width: 100%;
                height: 70%;
                padding-top: 1%;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid #fff;
                font-size: 1.2em;
                font-weight: 300;
                box-sizing: initial;
                overflow: auto;
                resize: none;
                overflow-wrap: break-word;
                overflow: hidden;
                font-family: 'Noto Sans KR', sans-serif;
            }
            textarea:focus {
                outline: none;
            }
            textarea:focus::placeholder {
                color: transparent;
            }
            textarea::placeholder {
                color: #fff;
            }
            input[type=submit] {
                display: inline-block;
                margin-top: 2%;
                padding: 3% 0px;
                width: 100%;
                background-color: transparent;
                color: #fff;
                border: 1px solid;
                font-size: 1em;
                font-weight: 700;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                letter-spacing: 8px;
                transition: opacity .3s ease;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .contact {
        display: flex;
        padding: 8% 10% 0; 
        .left {
            margin-right: 5%;
            h4 {
                margin: 0 0 2% 0;
                font-size: 3.5em;
            }
            h4::after {
                display: block;
                content: "";
                width: 100%;
                margin-top: 30px;
                border-bottom: 1px solid #bcbcbc;
                color: $pink;
            }
        }
    
        .right {
            margin: 0 auto;
            width: 40%;
            height: 90%; 
            form {
                padding: 5% 8%;
                height: 100%;
                textarea {
                    width: 100%;
                    height: 80%;
                }
                input[type=submit] {
                    font-weight: 500;
                    font-size: 1em;
                    letter-spacing: 4px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .contact {
        display: flex;
        flex-direction: column;
        padding: 8% 6% 0; 
        .left {
            margin-right: 0;
            h4 {
                width: 100%;
                margin: 0 0 1% 0;
                font-size: 3.5em;
            }
            h4::after {
                display: block;
                content: "";
                width: 100%;
                margin-top: 5%;
                border-bottom: 1px solid #bcbcbc;
                color: $pink;
            }
            .info {
                display: none;
            }
        }
        .right {
            margin: 3% auto;
            width: 80%;
            height: 75%; 
            form {
                padding: 3% 8%;
                input {
                    width: 100%;
                    margin-bottom: 8%;
                    color: #fff;
                }
                textarea {
                    width: 100%;
                    height: 80%;
                  
                    background-color: transparent;
                    border: 0;
                }
                input[type=submit] {
                    font-weight: 500;
                    width: 100%;
                    letter-spacing: 4px;
                    font-size: 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .contact {
        display: flex;
        flex-direction: column;
        padding: 8% 4% 0; 
        .left {
            h4 {
                width: 100%;
                margin: 0 0 1% 0;
                font-size: 3em;
            }
            h4::after {
                display: block;
                content: "";
                width: 100%;
                margin-top: 5%;
                border-bottom: 1px solid #bcbcbc;
                color: $pink;
            }
        }
        .right {
            margin: 3% 5%;
            width: 80%;
            height: 75%; 
            form {
                padding: 3% 8%;
                input {
                    width: 100%;
                    margin-bottom: 8%;
                    color: #fff;
                }
                textarea {
                    width: 100%;
                    height: 80%;
                  
                    background-color: transparent;
                    border: 0;
                }
                input[type=submit] {
                    font-weight: 500;
                    width: 100%;
                    letter-spacing: 4px;
                    font-size: 1em;
                }
            }
        }
    }
}
