@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

.contact {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $black;
    background-color: $grey;
    font-family: 'Noto Sans KR', sans-serif;

    .left {
        margin-top: 130px;
        margin-left: 350px;

        h4 {
            margin: 0 0 80px 0;
            color: $pink;
            font-size: 60px;
        }

        h4::after {
            display: block;
            content: "";
            width: 500px;
            margin-top: 30px;
            border-bottom: 1px solid #bcbcbc;
            color: $pink;
        }

        .info {
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                font-size: 20px;
            }

            .second {
                margin-top: 20px;
            }

            .third {
                margin-bottom: 80px;
            }

            div {
                display: flex;
                margin-bottom: 15px;

                .fas {
                    width: 62px;
                    padding-bottom: 10px;
                    color: $pink;
                    font-size: 38px;
                }   

                p {
                    margin: 0;
                    margin-left: 20px;
                    font-size: 23px;
                }

                .fab {
                    width: 62px;
                    margin-top: 130px;
                    padding-bottom: 10px;
                    padding-right: 20px;
                    color: $pink;
                    font-size: 55px;
                    cursor: pointer;
                }
            }
        }       
    }

    .right {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        margin-right: 350px;

        .gform {
            float: right;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 65px 65px 45px 65px;
            width: 420px;
            height: 600px;
            background-color: $pink;
            border-radius: 10px;
            font-size: 20px;
            box-shadow: 3px 3px 5px 3px silver;
            font-family: 'Noto Sans KR', sans-serif;

            p {
                margin: 0;
                margin-bottom: 20px;
                line-height: 30px;
                font-weight: 400;

                span {
                    position: relative;

                    .message {
                        padding-bottom: 160px;
                    }

                    input {
                        width: 100%;
                        height: 28px;
                        padding-top: 13px;
                        padding-bottom: 0px;
                        margin-bottom: 20px;
                        color: #fff;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 2px solid #fff;
                        font-size: 16px;
                        line-height: 25px;
                        box-sizing: initial;
                    }

                    input:focus {
                        outline: none;
                    }

                    input:focus::placeholder {
                        color: transparent;
                    }

                    input::placeholder {
                        color: #fff;
                    }

                    textarea {
                        width: 100%;
                        height: 50px;
                        padding-top: 13px;
                        padding-bottom: 0px;
                        margin-bottom: 20px;
                        background-color: transparent;
                        border: 0;
                        border-bottom: 2px solid #fff;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 25px;
                        box-sizing: initial;
                        overflow: auto;
                        resize: none;
                        overflow-wrap: break-word;
                    }

                    textarea:focus {
                        outline: none;
                    }

                    textarea:focus::placeholder {
                        color: transparent;
                    }

                    textarea::placeholder {
                        color: #fff;
                    }

                    input[type=submit] {
                        display: inline-block;
                        border: 2px solid;
                        text-align: center;
                        padding: 20px 0px;
                        font-size: 14px;
                        vertical-align: middle;
                        text-decoration: none;
                        background-color: transparent;
                        color: #fff;
                        font-weight: 700;
                        width: 100%;
                        letter-spacing: 8px;
                        transition: opacity .3s ease;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) { 
    .contact {
        .left {
            margin-top: 130px;
            margin-left: 150px;
    
            h4 {
                margin: 0 0 80px 0;
                color: $pink;
                font-size: 60px;
            }      
        }
    
        .right {
            display: flex;
            flex-direction: column;
            margin-top: 150px;
            margin-right: 150px;
    
            .gform {
                float: right;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 65px 65px 45px 65px;
                width: 400px;
                height: 600px;
                background-color: $pink;
                border-radius: 10px;
                font-size: 20px;
                box-shadow: 3px 3px 5px 3px silver;
    
                p {
                    margin: 0;
                    margin-bottom: 20px;
                    line-height: 25px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media only screen and (max-width: 1270px) {
    .contact {
        .left {
            margin-top: 130px;
            margin-left: 100px;
    
            .info {
                display: flex;
                flex-direction: column;
    
                p {
                    margin: 0;
                    font-size: 20px;
                }
    
                .second {
                    margin-top: 20px;
                }
    
                .third {
                    margin-bottom: 80px;
                }
    
                div {
                    display: flex;
                    margin-bottom: 15px;
    
                    .fas {
                        width: 62px;
                        padding-bottom: 10px;
                        color: $pink;
                        font-size: 38px;
                    }   
    
                    p {
                        margin: 0;
                        margin-left: 20px;
                        font-size: 23px;
                    }
    
                    .fab {
                        width: 62px;
                        margin-top: 130px;
                        padding-bottom: 10px;
                        padding-right: 20px;
                        color: $pink;
                        font-size: 55px;
                        cursor: pointer;
                    }
                }
            }       
        }
    
        .right {
            display: flex;
            flex-direction: column;
            margin-top: 150px;
            margin-right: 100px;
    
            .gform {
                float: right;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 65px 65px 45px 65px;
                width: 350px;
                height: 550px;
                background-color: $pink;
                border-radius: 10px;
                font-size: 20px;
                box-shadow: 3px 3px 5px 3px silver;
    
                p {
                    margin: 0;
                    margin-bottom: 16px;
                    line-height: 25px;
                    font-weight: 400;
    
                    span {
                        position: relative;
    
                        .message {
                            padding-bottom: 140px;
                        }
    
                        input {
                            width: 100%;
                            height: 28px;
                            padding-top: 13px;
                            padding-bottom: 0px;
                            margin-bottom: 20px;
                            color: #fff;
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px solid #fff;
                            font-size: 16px;
                            line-height: 25px;
                            box-sizing: initial;
                        }
    
                        input:focus {
                            outline: none;
                        }
    
                        input:focus::placeholder {
                            color: transparent;
                        }
    
                        input::placeholder {
                            color: #fff;
                        }
    
                        textarea {
                            width: 100%;
                            height: 50px;
                            padding-top: 13px;
                            padding-bottom: 0px;
                            margin-bottom: 20px;
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px solid #fff;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 25px;
                            box-sizing: initial;
                            overflow: auto;
                            resize: none;
                            overflow-wrap: break-word;
                        }
    
                        textarea:focus {
                            outline: none;
                        }
    
                        textarea:focus::placeholder {
                            color: transparent;
                        }
    
                        textarea::placeholder {
                            color: #fff;
                        }
    
                        input[type=submit] {
                            display: inline-block;
                            border: 2px solid;
                            text-align: center;
                            padding: 20px 0px;
                            font-size: 14px;
                            vertical-align: middle;
                            text-decoration: none;
                            background-color: transparent;
                            color: #fff;
                            font-weight: 700;
                            width: 100%;
                            letter-spacing: 8px;
                            transition: opacity .3s ease;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .contact {
    
        .left {
            margin-top: 130px;
            margin-left: 80px;
    
            .info {
                display: flex;
                flex-direction: column;
                width: 800px;
            }       
        }
    
        .right {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: $black;
        background-color: $grey;
        font-family: 'Noto Sans KR', sans-serif;
    
        .left {
            margin: 30px 0 0;
    
            h4 {
                margin: 0 0 10px 0;
                color: $pink;
                font-size: 40px;
            }
    
            h4::after {
                display: block;
                content: "";
                width: 350px;
                margin-top: 30px;
                border-bottom: 1px solid #bcbcbc;
                color: $pink;
            }
    
            .info {
                display: none;
            }
        }       
    
        .right {
            display: flex;
            justify-content: center;
            margin: 20px 0 30px;
            margin-right: 0px;
    
            .gform {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 0 auto;
                padding: 35px 25px 15px 25px;
                width: 80%;
                height: 400px;
                background-color: $pink;
                border-radius: 10px;
                font-size: 20px;
                box-shadow: 3px 3px 5px 3px silver;
    
                p {
                    margin: 0;
                    margin-bottom: 10px;
                    line-height: 15px;
                    font-weight: 300;
    
                    span {
                        position: relative;
    
                        .message {
                            padding-bottom: 60px;
                        }
    
                        input {
                            width: 100%;
                            height: 28px;
                            padding-top: 13px;
                            padding-bottom: 0px;
                            margin-bottom: 20px;
                            color: #fff;
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px solid #fff;
                            font-size: 16px;
                            line-height: 25px;
                            box-sizing: initial;
                        }
    
                        textarea {
                            width: 100%;
                            height: 50px;
                            padding-top: 13px;
                            padding-bottom: 0px;
                            margin-bottom: 20px;
                            background-color: transparent;
                            border: 0;
                            border-bottom: 2px solid #fff;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 25px;
                            box-sizing: initial;
                            overflow: auto;
                            resize: none;
                            overflow-wrap: break-word;
                        }
    
                        input[type=submit] {
                            display: inline-block;
                            border: 2px solid;
                            text-align: center;
                            padding: 10px 0px;
                            font-size: 14px;
                            vertical-align: middle;
                            text-decoration: none;
                            background-color: transparent;
                            color: #fff;
                            font-weight: 600;
                            width: 100%;
                            letter-spacing: 8px;
                            transition: opacity .3s ease;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

}