@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;

%function default {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
  background-color: #ffffff;
  color: $black;
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  @extend default;

  margin: 200px auto 0;
  width: 500px;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  // #nav.active {
  //   height: 680px;

  //   .icon {
  //     .line1 {
  //       transform: translateY(5.5px);
  //     }

  //     .line2 {
  //       transform: translateY(-5.5px);
  //       top: auto;
  //       bottom: 20px;
  //     }
  //   }
  // }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
