@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

@mixin content-maxwidth {
    max-width: 1020px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 3px 3px 5px 3px silver;
}

.bang {
    @include content-maxwidth;
    .head {
        margin: 0 0 35px 0;
        font-size: 35px;
        font-weight: 900;    
        div {
            margin: 10px 0 0 0;
            font-size: 18px;
            font-weight: 300;
            color: #A4A4A4;
        }
    }
    .main {
        display: flex;
        justify-content: space-between;
        .img_container {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 500px;
            .imgs {         
                height: 70%;
                margin: 0 0 5% 0;
                background: #f4f4f4;
                border-radius: 10px;
                box-shadow: 3px 3px 5px 3px silver;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .first {
                background-image: url('./img/Bang.PNG');
            }
            .second {
                margin: 0;
                background-image: url('./img/bang_detail.PNG');
            }
        }
        .script {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 53%;
            text-align: left;
            font-size: .9em;
            .script-main {
                .fa-circle {
                    color: $pink;
                    padding-right: 1.3%;
                }
                .fa-check{
                    padding-right: 1.3%;
                    color: $pink;
                    font-size: 0.8em;
                }
            }
            .script-bottom {
                display: flex;
                width: 100%;
                .fa-github {
                    color: $pink;
                    padding-right: 1.5%;
                    font-size: 35px;
                    cursor: pointer;
                }
                .fa-github:hover {
                    transform: scale(1.1);
                }
                div {
                    width: 100%;
                    color: $pink;
                    font-size: 0.9em;
                    line-height: 3.4;
                }
            }          
        }
    }
}


@media only screen and (max-width: 900px) {
    .modal_bang {
    
                .head {
                        margin: 0;
                        font-size: 30px;
                        font-weight: 900;     
                   span {
                       color: $pink;
                   }
                }
                
                .main {
                    flex-direction: column;
                    .img_container {
                        margin: 0;
                        width: 50%;
                        height: 450px;
                        .imgs {           
                            height: 100%;
                            margin: 0 0 3% 0;
                        }
                    }
                    .script {
                        position: relative;
                        text-align: left;
                        font-size: .9em;
                        .script-main {
                            .fa-circle {
                                color: $pink;
                                padding-right: 1.3%;
                            }
                            .fa-check{
                                padding-right: 1.3%;
                                color: $pink;
                                font-size: 0.8em;
                            }
                        }
                        .script-bottom {
                            .fa-github {
                                color: $pink;
                                padding-right: 1.5%;
                                font-size: 35px;
                                cursor: pointer;
                            }
                            .fa-github:hover {
                                transform: scale(1.1);
                            }
                            div {
                                width: 100%;
                                color: $pink;
                                font-size: 0.9em;
                                line-height: 3.4;
                            }
                        }
                        
                    }
                }
            }
        }


@media only screen and (max-width: 768px) {
    .modal_insta {    
        .bg {
           .content {
               width: 80%;
                height: 80%;
                
                p {
                    text-align: center;
                }
                .title {
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 600;
                    margin: 10% 0;
                }
                .contents {     
                    display: block;
                    height: 100%; 

                    .img_container {
                        display: flex;   
                        flex-direction: row;    
                        margin: 0 0 10%;

                        .imgs {
                            display: block;   
                        }
                    }
                    .script {
                        display: flex;
                        flex-direction: column;
                        font-size: .65em;

                        .bottom_container {
                            text-align: left;
                      
                            bottom: -75px;
                            div {
                                display: inline-block;
                            }
                        }
                        
                    }
                }
            }
        }    
    }
}

@media only screen and (max-width: 480px) {
    .modal_insta {    
        .bg {
           .content {
            width: 80%;
                .title {
                    margin: 9% 0;
                }
                button {
                    position: absolute;
                    top: 2%;
                    right: 2%;
                    font-size: 30px;
                }
                .contents {     
                    .img_container {
                        .imgs {
                            display: block;  
                            width: 200px;
                            height: 110px;
                        }
                    }
                    .script {
                        .bottom_container {
                            .fa-github {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }    
    }
}