@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// color
$pink : #D09E88;
$black : #534847;
$blue : #47596B;
$grey : #f3efef;

.modal_insta {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;

    .bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 400;

        .content {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 60vw;
            height: 80vh;
            padding: 20px 60px;
            transform: translate(-50%, -50%);
            background-color:#fff;
            border-radius: 10px;
            text-align: center;
            z-index: 410;

            p {
                text-align: left;

                span {
                    color: $pink;
                }
            }

            .title {
                margin: 10px 0 35px 0;
                font-size: 40px;
                font-weight: 800;
            }

            button {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: transparent;
                font-size: 50px;
                border: 0;
                cursor: pointer;
            }

            .contents {
                display: flex;

                .img_container {
                    display: flex;
                    flex-direction: column;

                    .imgs {
                        width: 450px;
                        height: 300px;
                        margin: 0px 40px 20px 0;
                        background: #f4f4f4;
                        border-radius: 10px;
                        box-shadow: 3px 3px 5px 3px silver;
                        background-image: url('./img/insta_main.PNG');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
    
                    .second {
                        background-image: url('./img/insta_profile.PNG');
                    }
                }

                .script {
                    text-align: left;

                    .fa-circle {
                        color: $pink;
                        padding-right: 10px;
                    }

                    .fa-check{
                        padding-right: 5px;
                        color: $pink;
                        font-size: 15px;
                    }

                    .bottom_container {
                        display: flex;
                        margin-top: 150px;

                        .fa-github {
                            color: $pink;
                            padding-right: 10px;
                            font-size: 40px;
                            cursor: pointer;
                        }

                        .fa-github:hover {
                            transform: scale(1.1);
                        }

                        div {
                            color: $pink;
                            font-size: 16px;
                            line-height: 3.4;
                        }
                    }
                    
                }
            }
        }

    }
}